@import "../main.scss";
@mixin sub-contact-title($title-color, $first-line-color) {
  color: $title-color;
  font-family: $family-roboto;
  font-size: 2.5em;
  position: relative;
  padding-bottom: 40px;
  &::before {
    content: "";
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(
      45deg,
      $first-line-color 46%,
      $color-yellow 0%
    );
    position: absolute;
    left: 0;
    top: 45px;
    @media (max-width: 768px) {
      top: 40px;
    }
  }
}
.contact {
  background-color: $color-blue;
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
  .container {
    background-color: $color-white;
    @include flex-one();
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 5px 5px 5px $color-gray;
    @media (max-width: 768px) {
      @include flex-two();
      box-shadow: unset;
    }
    .contact__info {
      width: 49%;
      padding: 30px 10px;
      @media (max-width: 768px) {
        width: 100%;
        background-color: $color-blue;
      }
      .contact__info__title {
        span {
          @include sub-contact-title($color-blue, $color-white);
          font-size: 34px;
          @media (max-width: 768px) {
            font-size: 24px;
            color: $color-white;
          }
        }
      }
      .contact__info__block {
        padding: 0 0 30px 0;
        .contact__info__text {
          @include text-appearance($color-gray);
          margin-bottom: 20px;
          font-size: 18px;
          @media (max-width: 768px) {
            color: $color-white;
          }
        }
        .contact__info__list {
          margin: 20px 0;
          li {
            display: inline;
            text-decoration: none;
            list-style: none;
            a {
              font-size: 25px;
              color: $color-blue;
              margin-right: 20px;
              @media (max-width: 768px) {
                color: $color-white;
              }
            }
          }
        }
        .contact__info__adresse {
          font-size: 18px;
          .info__adresse {
            color: $color-blue;
            @media (max-width: 768px) {
              color: $color-white;
            }
            i {
              color: $color-yellow;
              margin-right: 20px;
            }
          }
          a {
            color: $color-blue;
            @media (max-width: 768px) {
              color: $color-white;
            }
            i {
              color: $color-yellow;
              margin-right: 20px;
            }
          }
        }
      }
    }
    .contact__form {
      width: 49%;
      padding: 30px 20px;
      @media (max-width: 768px) {
        width: 100%;
      }
      .contact__form__title {
        span {
          @include sub-contact-title($color-blue, $color-white);
          font-size: 34px;
          @media (max-width: 768px) {
            font-size: 24px;
            margin-top: -30px;
          }
        }
      }
      .form-content {
        .form-group {
          label {
            @include text-appearance($color-blue);
            font-size: 18px;
          }
          input {
            @include text-appearance($color-gray);
            font-size: 18px;
            border-bottom: 2px solid $color-blue;
            &:focus {
              outline: none;
              border-bottom: 2px solid $color-yellow;
            }
          }
          textarea {
            height: 3em;
            border: none;
            border-bottom: 2px solid $color-blue;
            @include text-appearance($color-gray);
            font-size: 18px;
            &:focus {
              outline: none;
              border-bottom: 2px solid $color-yellow;
            }
          }
        }
      }
      .form-button {
        .bouton {
          @include bouton($color-white, $color-blue, $color-yellow);
          @include flex-one();
          justify-content: center;
          i {
            position: relative;
            left: 10px;
            @media (max-width: 540px) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
