@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0px;
}

.banner {
  padding-top: 4.5em;
  background-color: #ffffff;
}
.banner .container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner .container .container__row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.banner .container .container__row .banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-bottom: 25px;
}
.banner .container .container__row .banner-text .banner-text__title.banner-text__title--style {
  color: #ff9100;
  font-size: 45px;
  font-family: "Heebo", sans-serif;
  line-height: 68px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .banner .container .container__row .banner-text .banner-text__title.banner-text__title--style {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  .banner .container .container__row .banner-text .banner-text__title.banner-text__title--style {
    font-size: 23px;
    line-height: 30.76px;
  }
}
@media (max-width: 576px) {
  .banner .container .container__row .banner-text .banner-text__title.banner-text__title--style {
    font-size: 18px;
    line-height: 25.76px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .banner .container .container__row .banner-text .banner-text__title.banner-text__title--style {
    font-size: 12px;
    line-height: 16px;
  }
}
.banner .container .container__row .banner-text .banner-text__title div {
  overflow: hidden;
}
.banner .container .container__row .banner-text .banner-text__title div span {
  display: inline-block;
  transform: translateY(100%);
}
.banner .container .container__row .banner-text .banner-text__title div strong {
  color: #3c3d71;
  font-weight: bolder;
  position: relative;
  font-size: 55px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .banner .container .container__row .banner-text .banner-text__title div strong {
    font-size: 48px;
    line-height: 10px;
  }
}
@media (min-width: 990px) and (max-width: 1060px) {
  .banner .container .container__row .banner-text .banner-text__title div strong {
    font-size: 35px;
    line-height: 10px;
  }
}
@media (max-width: 768px) {
  .banner .container .container__row .banner-text .banner-text__title div strong {
    font-size: 28.39px;
    line-height: 30.76px;
  }
}
@media (max-width: 576px) {
  .banner .container .container__row .banner-text .banner-text__title div strong {
    font-size: 18px;
    line-height: 25.76px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .banner .container .container__row .banner-text .banner-text__title div strong {
    font-size: 14px;
    line-height: 16px;
  }
}
.banner .container .container__row .banner-text .banner-text__description.banner-text__description--style {
  font-size: 22px;
  color: #2a2527;
  font-family: "Roboto", sans-serif;
  margin-top: -20px;
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .banner .container .container__row .banner-text .banner-text__description.banner-text__description--style {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .banner .container .container__row .banner-text .banner-text__description.banner-text__description--style {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .banner .container .container__row .banner-text .banner-text__description.banner-text__description--style {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .banner .container .container__row .banner-text .banner-text__description.banner-text__description--style {
    font-size: 11px;
  }
}
@media (max-width: 540px) {
  .banner .container .container__row .banner-text .banner-text__description .text-to-hide {
    display: none;
  }
}
.banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style {
  background-color: #3c3d71;
  color: #ffffff;
  font-size: 22px;
  font-family: "Heebo", sans-serif;
  text-transform: none;
  font-weight: bolder;
  border-radius: 8px;
  padding: 12.5px 25px;
  cursor: pointer;
}
.banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style:hover {
  box-shadow: 3px 5px #ff9100;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style {
    font-size: 18px;
    padding: 10px 20px;
  }
}
@media (max-width: 768px) {
  .banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style {
    font-size: 14px;
    padding: 8px 16px;
  }
  .banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style:hover {
    box-shadow: 2px 3px #ff9100;
  }
}
@media (max-width: 576px) {
  .banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .banner .container .container__row .banner-text .banner-text__bouton.banner-text__bouton--style {
    font-size: 8.5px;
    padding: 5px 10px;
  }
}
.banner .container .container__row .banner-image {
  margin: 0;
  padding: 0;
}
.banner .container .container__row .banner-image .banner-image__img {
  width: 100%;
  z-index: 1;
  position: relative;
  bottom: -15px;
  opacity: 0.9;
}
.banner .container .container__row .banner__modal {
  border-radius: 10px 10px 0 0;
}
.banner .container .container__row .banner__modal h3 {
  background-color: #3c3d71;
  color: #ffffff;
  font-size: 27px;
  padding: 10px;
  position: relative;
  text-align: center;
}
.banner .container .container__row .banner__modal h3 i {
  color: #ff9100;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.banner .container .container__row .banner__modal .banner__modal__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px 10px 10px;
}
@media (max-width: 768px) {
  .banner .container .container__row .banner__modal .banner__modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.banner .container .container__row .banner__modal .banner__modal__content .scolarite,
.banner .container .container__row .banner__modal .banner__modal__content .formation,
.banner .container .container__row .banner__modal .banner__modal__content .autre {
  text-align: center;
  padding: 10px;
  width: 32.5%;
}
@media (max-width: 768px) {
  .banner .container .container__row .banner__modal .banner__modal__content .scolarite,
.banner .container .container__row .banner__modal .banner__modal__content .formation,
.banner .container .container__row .banner__modal .banner__modal__content .autre {
    width: 100%;
  }
}
.banner .container .container__row .banner__modal .banner__modal__content .scolarite i,
.banner .container .container__row .banner__modal .banner__modal__content .formation i,
.banner .container .container__row .banner__modal .banner__modal__content .autre i {
  color: #ff9100;
  font-size: 40px;
}
.banner .container .container__row .banner__modal .banner__modal__content .scolarite h4,
.banner .container .container__row .banner__modal .banner__modal__content .formation h4,
.banner .container .container__row .banner__modal .banner__modal__content .autre h4 {
  color: #3c3d71;
  font-size: 25px;
}
.banner .container .container__row .banner__modal .banner__modal__content .scolarite p,
.banner .container .container__row .banner__modal .banner__modal__content .formation p,
.banner .container .container__row .banner__modal .banner__modal__content .autre p {
  color: #2a2527;
  font-size: 16px;
}

/*# sourceMappingURL=banner.css.map */
