@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0px;
}

.contact {
  background-color: #4a4b70;
  position: relative;
  overflow: hidden;
  padding: 80px 0;
}
@media (max-width: 768px) {
  .contact {
    padding: 40px 0;
  }
}
.contact .container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #2a2527;
}
@media (max-width: 768px) {
  .contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: unset;
  }
}
.contact .container .contact__info {
  width: 49%;
  padding: 30px 10px;
}
@media (max-width: 768px) {
  .contact .container .contact__info {
    width: 100%;
    background-color: #4a4b70;
  }
}
.contact .container .contact__info .contact__info__title span {
  color: #4a4b70;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  position: relative;
  padding-bottom: 40px;
  font-size: 34px;
}
.contact .container .contact__info .contact__info__title span::before {
  content: "";
  width: 100%;
  height: 7px;
  background: -webkit-linear-gradient(45deg, #ffffff 46%, #ff9100 0%);
  position: absolute;
  left: 0;
  top: 60px;
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__title span::before {
    top: 40px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__title span {
    font-size: 1.8em;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__title span {
    font-size: 24px;
    color: #ffffff;
  }
}
.contact .container .contact__info .contact__info__block {
  padding: 0 0 30px 0;
}
.contact .container .contact__info .contact__info__block .contact__info__text {
  font-size: 22px;
  color: #2a2527;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .contact .container .contact__info .contact__info__block .contact__info__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__block .contact__info__text {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .contact .container .contact__info .contact__info__block .contact__info__text {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .contact .container .contact__info .contact__info__block .contact__info__text {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__block .contact__info__text {
    color: #ffffff;
  }
}
.contact .container .contact__info .contact__info__block .contact__info__adresse {
  font-size: 20px;
}
.contact .container .contact__info .contact__info__block .contact__info__adresse address {
  margin: 10px 0;
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__block .contact__info__adresse address {
    color: #ffffff;
  }
}
.contact .container .contact__info .contact__info__block .contact__info__adresse address i {
  color: #ff9100;
}
.contact .container .contact__info .contact__info__block .contact__info__adresse a {
  text-decoration: none;
  color: #4a4b70;
}
@media (max-width: 768px) {
  .contact .container .contact__info .contact__info__block .contact__info__adresse a {
    color: #ffffff;
  }
}
.contact .container .contact__info .contact__info__block .contact__info__adresse a i {
  color: #ff9100;
}
.contact .container .contact__info .contact__info__block .contact__info__list {
  margin: 20px 0;
}
.contact .container .contact__info .contact__info__block .contact__info__list li {
  display: inline;
  text-decoration: none;
  list-style: none;
}
.contact .container .contact__info .contact__info__block .contact__info__list li a {
  font-size: 20px;
  color: #4a4b70;
}
.contact .container .contact__info .contact__info__block .contact__info__list li a:hover {
  transform: scale(1.2px);
  transition: 0.3s ease-in-out;
}
.contact .container .contact__form {
  width: 49%;
  padding: 30px 20px;
}
@media (max-width: 768px) {
  .contact .container .contact__form {
    width: 100%;
  }
}
.contact .container .contact__form .contact__form__title span {
  color: #4a4b70;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  position: relative;
  padding-bottom: 40px;
  font-size: 34px;
}
.contact .container .contact__form .contact__form__title span::before {
  content: "";
  width: 100%;
  height: 7px;
  background: -webkit-linear-gradient(45deg, #ffffff 46%, #ff9100 0%);
  position: absolute;
  left: 0;
  top: 60px;
}
@media (max-width: 768px) {
  .contact .container .contact__form .contact__form__title span::before {
    top: 40px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__form .contact__form__title span {
    font-size: 1.8em;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__form .contact__form__title span {
    font-size: 24px;
    margin-top: -30px;
  }
}
.contact .container .contact__form .form-content .form-group label {
  font-size: 22px;
  color: #4a4b70;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .contact .container .contact__form .form-content .form-group label {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__form .form-content .form-group label {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .contact .container .contact__form .form-content .form-group label {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .contact .container .contact__form .form-content .form-group label {
    font-size: 11px;
  }
}
.contact .container .contact__form .form-content .form-group input {
  font-size: 22px;
  color: #2a2527;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-bottom: 2px solid #4a4b70;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .contact .container .contact__form .form-content .form-group input {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__form .form-content .form-group input {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .contact .container .contact__form .form-content .form-group input {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .contact .container .contact__form .form-content .form-group input {
    font-size: 11px;
  }
}
.contact .container .contact__form .form-content .form-group input:focus {
  outline: none;
  border-bottom: 2px solid #ff9100;
}
.contact .container .contact__form .form-content .form-group textarea {
  height: 3em;
  border: none;
  border-bottom: 2px solid #4a4b70;
  font-size: 22px;
  color: #2a2527;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .contact .container .contact__form .form-content .form-group textarea {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__form .form-content .form-group textarea {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .contact .container .contact__form .form-content .form-group textarea {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .contact .container .contact__form .form-content .form-group textarea {
    font-size: 11px;
  }
}
.contact .container .contact__form .form-content .form-group textarea:focus {
  outline: none;
  border-bottom: 2px solid #ff9100;
}
.contact .container .contact__form .form-button .bouton {
  background-color: #4a4b70;
  color: #ffffff;
  font-size: 22px;
  font-family: "Heebo", sans-serif;
  text-transform: none;
  font-weight: bolder;
  border-radius: 8px;
  padding: 12.5px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact .container .contact__form .form-button .bouton:hover {
  box-shadow: 3px 5px #ff9100;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .contact .container .contact__form .form-button .bouton {
    font-size: 18px;
    padding: 10px 20px;
  }
}
@media (max-width: 768px) {
  .contact .container .contact__form .form-button .bouton {
    font-size: 14px;
    padding: 8px 16px;
  }
  .contact .container .contact__form .form-button .bouton:hover {
    box-shadow: 2px 3px #ff9100;
  }
}
@media (max-width: 576px) {
  .contact .container .contact__form .form-button .bouton {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .contact .container .contact__form .form-button .bouton {
    font-size: 8.5px;
    padding: 5px 10px;
  }
}
.contact .container .contact__form .form-button .bouton i {
  position: relative;
  left: 10px;
}
@media (max-width: 540px) {
  .contact .container .contact__form .form-button .bouton i {
    font-size: 15px;
  }
}

/*# sourceMappingURL=contact.css.map */
