@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0px;
}

.projects {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}
@media (max-width: 535px) {
  .projects {
    padding: 0;
  }
}
.projects .projects__third-corner {
  height: 9em;
  width: 55em;
  position: absolute;
  background-color: #ffffff;
  border: 7px solid #ff9100;
  transform: rotate(15deg);
  right: -4em;
  top: -9.5em;
  background-color: #3c3d71;
}
@media (max-width: 768px) {
  .projects .projects__third-corner {
    height: 5em;
    width: 15em;
  }
}
.projects .projects__fourth-corner {
  height: 9em;
  width: 55em;
  position: absolute;
  background-color: #ffffff;
  border: 7px solid #ff9100;
  transform: rotate(15deg);
  left: -4em;
  bottom: -9.5em;
  background-color: #3c3d71;
}
@media (max-width: 768px) {
  .projects .projects__fourth-corner {
    height: 5em;
    width: 15em;
  }
}
.projects .projects__content {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects .projects__content .projects__content__title {
  color: #3c3d71;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  position: relative;
  padding-bottom: 40px;
}
.projects .projects__content .projects__content__title::before {
  content: "";
  width: 100%;
  height: 7px;
  background: -webkit-linear-gradient(45deg, #3c3d71 46%, #ff9100 0%);
  position: absolute;
  left: 0;
  top: 60px;
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__title::before {
    top: 40px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__title {
    font-size: 1.8em;
  }
}
.projects .projects__content .projects__content__paragraphe {
  font-size: 22px;
  color: #3c3d71;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .projects .projects__content .projects__content__paragraphe {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__paragraphe {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .projects .projects__content .projects__content__paragraphe {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .projects .projects__content .projects__content__paragraphe {
    font-size: 11px;
  }
}
.projects .projects__content .projects__content__elements {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 540px) {
  .projects .projects__content .projects__content__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.projects .projects__content .projects__content__elements .card {
  width: 30%;
  position: relative;
}
@media (max-width: 540px) {
  .projects .projects__content .projects__content__elements .card {
    width: 100%;
  }
}
@media (min-width: 541px) and (max-width: 992px) {
  .projects .projects__content .projects__content__elements .card {
    width: 32%;
  }
}
.projects .projects__content .projects__content__elements .card:hover {
  transform: scale(1.04);
  transition: 0.4s ease-in-out;
}
.projects .projects__content .projects__content__elements .card .card-image {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects .projects__content .projects__content__elements .card .card-image .card-image__link {
  background-color: #ffffff;
  color: #3c3d71;
  font-size: 22px;
  font-family: "Heebo", sans-serif;
  text-transform: none;
  font-weight: bolder;
  border-radius: 8px;
  padding: 12.5px 25px;
  cursor: pointer;
  position: absolute;
  border: 2px solid #3c3d71;
  padding: 4px 20px;
  bottom: -20px;
}
.projects .projects__content .projects__content__elements .card .card-image .card-image__link:hover {
  box-shadow: 3px 5px #ffffff;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .projects .projects__content .projects__content__elements .card .card-image .card-image__link {
    font-size: 18px;
    padding: 10px 20px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__elements .card .card-image .card-image__link {
    font-size: 14px;
    padding: 8px 16px;
  }
  .projects .projects__content .projects__content__elements .card .card-image .card-image__link:hover {
    box-shadow: 2px 3px #ffffff;
  }
}
@media (max-width: 576px) {
  .projects .projects__content .projects__content__elements .card .card-image .card-image__link {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .projects .projects__content .projects__content__elements .card .card-image .card-image__link {
    font-size: 8.5px;
    padding: 5px 10px;
  }
}
.projects .projects__content .projects__content__elements .card .card-content {
  text-align: center;
}
.projects .projects__content .projects__content__elements .card .card-content .card-title {
  font-size: 22px;
  color: #ff9100;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .projects .projects__content .projects__content__elements .card .card-content .card-title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__elements .card .card-content .card-title {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .projects .projects__content .projects__content__elements .card .card-content .card-title {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .projects .projects__content .projects__content__elements .card .card-content .card-title {
    font-size: 11px;
  }
}
@media (max-width: 540px) {
  .projects .projects__content .projects__content__elements .card .card-content .card-title {
    font-size: 30px;
  }
}
@media (min-width: 541px) and (max-width: 992px) {
  .projects .projects__content .projects__content__elements .card .card-content .card-title {
    font-size: 20px;
  }
}
.projects .projects__content .projects__content__elements .card .card-content p {
  font-size: 22px;
  color: #2a2527;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .projects .projects__content .projects__content__elements .card .card-content p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__elements .card .card-content p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .projects .projects__content .projects__content__elements .card .card-content p {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .projects .projects__content .projects__content__elements .card .card-content p {
    font-size: 11px;
  }
}
@media (max-width: 540px) {
  .projects .projects__content .projects__content__elements .card .card-content p {
    font-size: 18px;
  }
}
.projects .projects__content .projects__content__elements .card .card-action {
  text-align: center;
}
.projects .projects__content .projects__content__elements .card .card-action ul li {
  display: inline;
  font-size: 22px;
  color: #3c3d71;
  font-family: "Roboto", sans-serif;
  margin: 0 5px;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .projects .projects__content .projects__content__elements .card .card-action ul li {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__elements .card .card-action ul li {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .projects .projects__content .projects__content__elements .card .card-action ul li {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .projects .projects__content .projects__content__elements .card .card-action ul li {
    font-size: 11px;
  }
}
.projects .projects__content .projects__content__elements .card .card-link {
  background-color: #ff9100;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.projects .projects__content .projects__content__elements .card .card-link .card-link__bloc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects .projects__content .projects__content__elements .card .card-link .card-link__bloc .card-image__link {
  font-size: 22px;
  color: #3c3d71;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 70px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1420px) {
  .projects .projects__content .projects__content__elements .card .card-link .card-link__bloc .card-image__link {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .projects .projects__content .projects__content__elements .card .card-link .card-link__bloc .card-image__link {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .projects .projects__content .projects__content__elements .card .card-link .card-link__bloc .card-image__link {
    font-size: 12px;
  }
}
@media (max-width: 576px) and (max-width: 380px) {
  .projects .projects__content .projects__content__elements .card .card-link .card-link__bloc .card-image__link {
    font-size: 11px;
  }
}
.projects .projects__content .project-bouton a {
  cursor: pointer;
  color: #3c3d71;
  font-size: 35px;
  margin: 20px;
}

/*# sourceMappingURL=projects.css.map */
